* {
  padding: 0px;
  margin: 0px;
}

.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #007BFF;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#search {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
    margin-left: 10px;
}

#search-button {
    padding: 10px 20px;
    background-color: white;
    border: none;
    border-radius: 5px;
    color: black;
    font-size: 16px;
    cursor: pointer;
    margin-left: 20px;
}

#search-button:hover {
    background-color: #0056b3;
}
.alternating-menu{
    width: 18.00%;
}
.alternating-menu p {
  margin-left: 40px;
  margin-top: 20px;
  font-size: 24px;
  color: white;
  font-weight: 900;
}
.menus {
  padding: 20px;
}
.menus span {
  margin-right: 20px;
}

.menus :hover {
  cursor: pointer;
}

.material-symbols-outlined {
    color: white;
 }
.product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(16.666% - 20px);
    box-sizing: border-box;
    text-align: center;
}
.product-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    
}



/* Media Queries */
@media (max-width: 768px) {
    .product-card {
        width: calc(50% - 20px); 
    }
    .top-nav {
        flex-direction: column; 
        align-items: center; 
    }

    .search-container {
        margin-top: 10px; /* Add some spacing between search bar and menu icons */
    }

    .menus {
        margin-top: 10px; /* Add spacing between menu icons and other items */
    }

    .alternating-menu p {
        margin-left: 0; /* Reset margin for the welcome text */
        margin-top: 10px; /* Add spacing for welcome text */
        text-align: center; /* Center the text */
    }
}

@media (max-width: 576px) {
    .product-card {
        width: calc(100% - 20px); 
    }
    .product-container {
        justify-content: center; 
    }
}

