body{

}
* {
    padding: 0px;
    margin: 0px;
}

.top-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #007BFF;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#search {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
    margin-left: 10px;
}


#search-button:hover {
    background-color: #0056b3;
}

#search-button {
    padding: 10px 20px;
    background-color: white;
    border: none;
    border-radius: 5px;
    color: black;
    font-size: 16px;
    cursor: pointer;
    margin-left: 20px;
}
/*  */

.alternating-menu{
    width: 18.00%;
}
.alternating-menu p {
    margin-left: 40px;
    margin-top: 20px;
    font-size: 24px;
    color: white;
    font-weight: 900;
}
.menus {
    padding: 20px;
}
.menus span {
    margin-right: 20px;
}

.menus :hover {
    cursor: pointer;
}

.material-symbols-outlined {
    color: white;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
